.section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    // max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    &__title {
        margin-top: 10rem;
        padding: 20px;
        font-size: 72px;
        color: #fff;
    }

    &__slogan {
        padding: 20px;
        font-size: 42px;
        color: #fff;
    }

    &__accueil {}

    &__hebergement {}

    &__activites {}

    &__tarifs {}

    &__contact {}

}

@media screen and (min-width: 768px) {
    .section {
        &__title {
            font-size: 72px;
        }

        &__slogan {
            font-size: 42px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section {
        &__title {
            font-size: 72px;
        }

        &__slogan {
            font-size: 42px;
        }
    }
}