.burgerBtn {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
padding: 5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    cursor: pointer;
    
    &__line {
        transition: all 0.4s ease-in-out, top 0.4s ease-in-out;
        position: absolute;
        width: 75%;
        
        border: 1px solid #000;

        &:nth-child(1) {
            top: 25%;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:nth-child(3) {
            bottom: 25%;
        }
    }
}

.burgerBtn.active .burgerBtn__line:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

.burgerBtn.active .burgerBtn__line:nth-child(2) {
    transform: translateX(25000%);
}

.burgerBtn.active .burgerBtn__line:nth-child(3) {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }

.burgerBtn.active {
    background-color: rgba(0, 255, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
}
.burgerBtn.active ~ .sideNav {
    display: flex;
}