.section__tarifsBarRestaurant {
    background-image: url(../../assets/images/20211011_194517.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarifsBarRestaurant {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;

    margin-top: 12rem;
}
.table {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    &__title {}
    &__body {}
    &__row {}
    &__cell {}
}